<div class="form--container">
    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
        <h1>Profile Form</h1>
        <div class="form--group">
            <label for="firstname" class="required"  >First Name</label>
            <input type="text" name="firstname" id="firstname"formControlName="firstName" >
        </div>
        <div *ngIf="IsFormSubmitted() &&  profileForm.controls.firstName.invalid " class="alert">
            <div *ngIf="profileForm.controls.firstName.errors?.['required']">{{errorMessages().required("first name")}}</div>
            <div *ngIf="profileForm.controls.firstName.errors?.['minlength']">
                {{errorMessages().minlength("first name",3)}}
            </div>
            <div *ngIf="profileForm.controls.firstName.errors?.['maxlength']">
                {{errorMessages().maxlength("first name",20)}}

              </div>
        </div>
        <div class="form--group">
            <label for="middlename" >Middle Name</label>
            <input type="text" name="middlename" id="middlename" formControlName="middleName" >
        </div>
        <div *ngIf="IsFormSubmitted() && profileForm.controls.middleName.dirty && profileForm.controls.middleName.errors?.['maxlength']" class="alert">
            <div>
                {{errorMessages().maxlength("middle name",20)}}

            </div>
        </div>
        <div class="form--group">
            <label for="lastname" class="required">last Name</label>
            <input type="text" name="lastname" id="lastname"formControlName="lastName" >
        </div>
        <div *ngIf="IsFormSubmitted() &&  profileForm.controls.lastName.invalid " class="alert">
            <div *ngIf="profileForm.controls.lastName.errors?.['required']">{{errorMessages().required("last name")}}</div>
            <div *ngIf="profileForm.controls.lastName.errors?.['minlength']">
                {{errorMessages().minlength("last name",3)}}

            </div>
            <div *ngIf="profileForm.controls.lastName.errors?.['maxlength']">
                {{errorMessages().maxlength("last name",20)}}

              </div>
        </div>
        <div class="form--group">
            <label for="age" class="required">Age</label>
            <input type="number" name="age" id="age" formControlName="age">
        </div>
        <div *ngIf="IsFormSubmitted() && profileForm.controls.age.invalid" class="alert">
            <div *ngIf="profileForm.controls.age.errors?.['required']">
                {{errorMessages().required("age")}}
            </div>
            <div *ngIf="profileForm.controls.age.errors?.['min']">
                {{errorMessages().min("age",10)}}

            </div>
            <div *ngIf="profileForm.controls.age.errors?.['max']">
                {{errorMessages().max("age",50)}}

            </div>
        </div>
        <div class="form--group">
            <label  class="required">Gender</label>
            <div class="input--group">
                <input type="radio" name="gender" id="male" formControlName="gender" value="male" >
                <label for="male">male</label>
                <input type="radio" name="gender" id="female" formControlName="gender" value="female" >
                <label for="female">female</label>
                <input type="radio" name="gender" id="other" formControlName="gender" value="other"> 
                <label for="other">other</label>
            </div>
        </div>

        <div class="form--section" formGroupName="address">
            <h2>Address</h2>
            <div class="form--group">
                <label for="city" class="required">City</label>
                <input type="text" name="city" id="city" formControlName="city">
            </div>
            <div *ngIf="IsFormSubmitted()  && profileForm.controls.address.controls.city.invalid" class="alert">
                <div *ngIf="profileForm.controls.address.controls.city.errors?.['required']">
                    {{errorMessages().required("city")}}
                </div>
                <div *ngIf="profileForm.controls.address.controls.city.errors?.['maxlength']">
                    {{errorMessages().maxlength("city",20)}}

                </div>
            </div>
            <div class="form--group">
                <label for="street" class="required">Street</label>
                <input type="text" name="street" id="street" formControlName="street">
            </div>
            <div *ngIf="IsFormSubmitted()  && profileForm.controls.address.controls.street.invalid" class="alert">
                <div *ngIf="profileForm.controls.address.controls.street.errors?.['required']">
                    {{errorMessages().required("street")}}
                </div>
                <div *ngIf="profileForm.controls.address.controls.street.errors?.['maxlength']">
                    {{errorMessages().maxlength("street",20)}}

                </div>
            </div>
            <div class="form--group">
                <label for="landmark">Landmark</label>
                <input type="text" name="landmark" id="landmark" formControlName="landmark">
            </div>
            <div *ngIf="IsFormSubmitted() && profileForm.controls.address.controls.landmark.dirty && profileForm.controls.address.controls.landmark.errors?.['maxlength']" class="alert">
                <div>
                {{errorMessages().maxlength("landmark",20)}}
                    
                </div>
            </div>
            <div class="form--group">
                <label for="state" class="required">State</label>
                <input type="text" name="state" id="state" formControlName="state">
            </div>

            <div *ngIf="IsFormSubmitted()  && profileForm.controls.address.controls.state.invalid" class="alert">
                <div *ngIf="profileForm.controls.address.controls.state.errors?.['required']">
                    {{errorMessages().required("state")}}
                </div>
                <div *ngIf="profileForm.controls.address.controls.state.errors?.['maxlength']">
                    {{errorMessages().maxlength("state",20)}}

                </div>
            </div>

            <div class="form--group">
                <label for="zipcode" class="required">Zip Code</label>
                <input type="number" name="zipcode" id="zipcode" formControlName="zipCode">
            </div>
            <div *ngIf="IsFormSubmitted()  && profileForm.controls.address.controls.zipCode.invalid" class="alert">
                <div *ngIf="profileForm.controls.address.controls.zipCode.errors?.['required']">
                    {{errorMessages().required("zip code")}}
                </div>
                <div *ngIf="profileForm.controls.address.controls.zipCode.errors?.['maxlength']">
                {{errorMessages().maxlength("zip code",20)}}
                    
                </div>
            </div>
            <div class="form--group">
                <label for="country" class="required">Country</label>
                <input type="text" name="country" id="country" formControlName="country">
            </div>
            <div *ngIf="IsFormSubmitted()  && profileForm.controls.address.controls.country.invalid" class="alert">
                <div *ngIf="profileForm.controls.address.controls.country.errors?.['required']">
                    {{errorMessages().required("country")}}
                </div>
                <div *ngIf="profileForm.controls.address.controls.country.errors?.['maxlength']">
                    {{errorMessages().maxlength("country",20)}}

                </div>
            </div>
        </div>

        <div class="form--section flex-row">
            <div class="form--group">
                <label >Hobbies</label>
                <div formArrayName="hobbies" class="input--group">
                    <div *ngFor="let hobby of hobbies.controls; index as i" >
                        <input type="text" [formControlName]="i" class="no-border">
                        <button (click)="deleteHobby(i)" class="responsive-button no-border" type="button">X</button>
                    </div>
                </div>
            </div>
            <button (click)="addHobby()" class="normal-button" type="button">Add Hobby</button>
        </div>
        
        <div class="form--group">
            <input type="submit" value="submit" >
        </div>
    </form>
</div>