@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.alert{
    &--danger{
        background-color: #F44336!important; 
        color: white!important;
    }
    &--sucess{
        background-color: #4CAF50!important;
        color: white!important;
    }
    &--warn{
        background-color: #FF9800!important; 
        color: white!important;
    }
    &--info{
        background-color: #2196F3!important; 
        color: white!important;
    }
}